<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribute to Our Open Source Project</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        body {
            background-color: #121212;
            color: #e2e8f0;
            font-family: 'Inter', sans-serif;
        }
      
    </style>
</head>
<body class="min-h-screen flex items-center justify-center py-12 px-4">

    <div class="container max-w-4xl w-full rounded-lg shadow-lg p-8">
        <h1 class="text-2xl sm:text-3xl font-extrabold mb-8 lg:mb-8 text-center text-indigo-500 mt-3 ">
            <a href="{{ url_for('index') }}" class="hover:text-violet-500">FINQEL's</a></h1>

        <h1 class="text-4xl font-extrabold  mb-8 highlight">Contribute by adding other sites or improving the current one</h1>
        <p class="text-lg mb-6 text-gray-300">There are many other sites that many would find relevant to track (Brazzers, Tushy, Bangros, RealityKings, LetsDoeIt and so forth)
            You can contribute by pulling the github repo and doing likewise with any other site you think is worth the hassle. 
            The whole fetching should be automated, just like this is, so that no manual intervention is needed to keep track of relevant data. 
            You can also improve the style and layout or any other design question you consider could be added to better the look and functionality of the current page.
        </p>
        
        <a href="https://github.com/corleone47/finqel" target="_blank" class="bg-gradient-to-br from-indigo-500 to-violet-500 hover:from-violet-600 mb-6 hover:to-indigo-600 text-white font-bold py-3 px-6 rounded-lg shadow-lg">
            Visit GitHub Repo
        </a>
   
        <h1 class="text-4xl font-extrabold  mb-8 highlight mt-8">How does this differ from current sites that compile similar data?</h1>
        <p class="text-lg mb-6 text-gray-300">
            In a nutshell, this site aims to show what's in the target page right now and, if available, when the next update is coming.
            Current sites that do this (e.g.: <a href="https://assoholics.cc" class="text-blue-400 hover:text-blue-500" target="_blank" >assoholics</a>) compile recent updates but don't usually show the latest update of the site nor when the next update is coming. 
   
   
        </p>
        
        
        <!--h2 class="text-3xl font-semibold mb-4 highlight">How to Get Started</h2>
        <p class="mb-4 text-gray-300">To start contributing, follow these steps:</p>
        <ol class="list-decimal list-inside space-y-2 mb-6 text-gray-300">
            <li><a href="https://github.com/your-repo-url" class="text-blue-400 hover:underline">Visit our GitHub repository</a> and explore the project.</li>
            <li>Check out the <a href="https://github.com/your-repo-url/issues" class="text-blue-400 hover:underline">issues section</a> for tasks that need attention.</li>
            <li>Pick an issue that interests you or suggest a new feature.</li>
            <li>Follow the instructions in the <a href="https://github.com/your-repo-url/CONTRIBUTING.md" class="text-blue-400 hover:underline">CONTRIBUTING.md</a> file to make your changes.</li>
        </ol-->
        
        <h2 class="text-3xl font-semibold mb-4 highlight mt-6">Need Help?</h2>
        <p class="mb-4 text-gray-300">Open an issue ticket at the <a href="https://github.com/corleone47/finqel/issues" class="text-blue-400 hover:underline" target="_blank">issues section</a> on GitHub. We are here to help!</p>
        
       
        
        
    </div>
</body>
</html>
